//color schemes
//2
$styleNumber: '2';
$colorMain: #f23e14;
$colorMain2: #0FA99D;
$colorMain3: #208dcc;
$colorMain4: #2cb129;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;