//color schemes
//3
$styleNumber: '3';
$colorMain: #208dcc;
$colorMain2: #2cb129;
$colorMain3: #0FA99D;
$colorMain4: #f23e14;


//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;