/*
widget_search,
widget_mailchimp
widget_product_search
*/

.widget_search,
.widget_product_search,
.widget_mailchimp {
  form {
    position: relative;
    margin: auto;
  }
  label {
    margin: 0;
    padding: 0;
    display: inline;
  }
  input {
    width: 100%;
    padding-left: 30px;
  }
}

.widget_search {
  input.search-field {
    height: 40px;
  }
  button.search-submit {
    padding: 10px;
  }
}

//buttons and icons inside a form to the right
.widget_search button,
.widget_mailchimp button,
  //input instead of button is used in woo html
.widget_product_search form input[type="submit"],
.widget_product_search form:before {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
  opacity: 1;
}

.widget_search button,
.widget_mailchimp button,
  //input instead of button is used in woo html
.widget_product_search form input[type="submit"] {
  padding: 21px 21px 18px 10px;
  &:hover {
    opacity: 0.5;
  }
}

//icons for buttons
.widget_search button,
.widget_mailchimp button,
  //input instead of button is used in woo html
.widget_product_search form {
  &:before {
    color: $colorMain;
    font-size: 14px;
    content: "\f002";
    font-family: 'FontAwesome';
  }
}

.widget_mailchimp form button {
  font-size: 0;
  &:before {
    content: "\e90e";
    font-family: 'icomoon';
  }
  &:hover {
    background-color: transparent;
  }
}

.widget_product_search {
  input#woocommerce-product-search-field-widget {
    height: 40px;
  }
  form:before {
    line-height: 40px;
  }
  input[type="submit"] {
    color: transparent;
    font-size: 0;
  }
}
.cs .widget_search input.search-field,
.cs .widget_product_search input.search-field.form-control {
    border: 0;
}

.mailchimp-with-text .widget_mailchimp {
  form {
    max-width: none;
    display: flex;
    flex-wrap: wrap;

    input.mailchimp_email {
      max-width: 379px;
      flex: 1 1 50%;
    }

    button.search-submit.btn.btn-dark {
      padding: 9px 15px;
      margin-left: 10px;
      margin-bottom: 0;
      background-color: $darkColor;
      width: auto;
      position: relative;
      font-size: 16px;
      border: 1px solid $darkColor;

      &:hover {
        color: $darkColor;
        background-color: $lightColor;
        border-color: $lightColor;
      }

      @media (min-width: 768px) {
        padding: 9px 43px;
        margin-left: 20px;
      }

      &:hover {
        opacity: 1;
      }

      &:before {
        display: none;
      }
    }
  }
}

.search-bg {
  .widget_search input {
    background-color: $greyColor;
  }
}