/* 
** Template Specific Styles
*/

#box_wrapper > section,
#box_wrapper > div > section {
  overflow: hidden;
}

@media (min-width: 768px) {
  #box_wrapper > section.page_topline,
  #box_wrapper > section.page_toplogo,
  #box_wrapper > section.overflow-visible,
  #box_wrapper > div > section.overflow-visible {
    overflow: visible;
  }
}

#box_wrapper > div > section.topline-overflow-visible {
  overflow: visible;
  z-index: 9;
}

//featured person on three different background sections
img.absolute_image {
  position: absolute;
  z-index: 1;
  top: 50px;
}

.image-rounded-cross-borders {
  position: relative;
  margin: 50px 0 60px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: $borderColor;
    top: -30px;
    left: 50%;
  }
  &:after {
    top: auto;
    bottom: -30px;
  }
  .box-shadow {
    padding: 9px;
    border-radius: 50%;
    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 30px;
      background-color: $borderColor;
      top: 50%;
      left: -30px;
      @media(max-width: 1199px) {
        display: none;
      }
    }
    &:after {
      left: auto;
      right: -30px;
    }
  }
  img {
    border-radius: 50%;
  }
}

.btn-action {
  i {
    width: 1em;
    height: 1em;
    text-align: center;
    &.fa-chevron-right {
      position: relative;
      left: 2px;
    }
  }
}

.partners-carousel {
  a {
    opacity: 0.2;
    &:hover {
      opacity: 0.8;
    }
  }
  .center a {
    opacity: 1;
  }
}

//topline and toplogo
.dropdown-shopping-cart {
  position: relative;
  font-weight: 700;
  .page_toplogo & {
    margin-left: 24px;
  }
  i {
    margin-right: 23px;
    .page_toplogo & {
      position: relative;
      top: 0.18em;
    }
  }
  .badge {
    font-size: 10px;
    color: $darkColor;
    position: absolute;
    top: -6px;
    left: 7px;
    padding: .27em .47em;
    border-radius: 1em;
  }
  &:hover {
    color: inherit;
  }

  & + .dropdown-menu {
    margin-top: 10px;
    min-width: 310px;
    @media (min-width: 450px) {
      min-width: 430px;
    }
  }
  &:after {
    display: none;
  }
}


@media (max-width: 767px) {
  .dropdown-cart.dropdown-menu {
    padding: 20px;
  }
}

.header_absolute,
.page_topline,
.page_title{
  &.cover-background,
  &.s-parallax {
    background-image: url("../../themes/jlb-steels/img/parallax/title-bg.jpg");
  }
}

.page_title {
  h1,
  h2 {
    margin-bottom: 15px;
    @media(min-width: 992px) {
      margin-top: -2px;
      font-size: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .small-title {
    margin-bottom: 0;
    & + .breadcrumb {
      font-size: 16px;
      letter-spacing: 0;
      text-transform: none;
      font-weight: 300;
    }
  }
  @media (min-width: 992px) {
    .title-inline {
      margin: 0;
      & + .breadcrumb {
        padding-left: 30px;
        margin-left: 30px;
        border-left: 1px solid $universalBorderColor;
      }
    }
  }
  .breadcrumb {
    line-height: 1.6;
    margin-bottom: 2px;
  }
  [class*="container"] > .breadcrumb {
    position: absolute;
    right: 15px;
    margin-bottom: 0;
    bottom: 0;
    padding: 0 15px;
    background-color: $borderColorRGBA;
    @media (max-width: 767px) {
      letter-spacing: 0.15em;
    }
  }
}

.page_map {
  height: 560px;
  text-align: center;
  .marker {
    display: none;
  }
}

.map_marker_description {
  h3 {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 13px;
  }
  max-width: 270px;
  padding: 17px 0 12px;
  img {
    max-width: 90% !important;
  }

}

button.gm-ui-hover-effect {
  top: 0 !important;
  right: 0 !important;
}

//styling google info window
.gm-style .gm-style-iw {
  overflow: visible !important;
  text-align: center;
  line-height: 1.6em;

  & > *:first-child {
    position: relative;
  }


  .icon-inline {
    display: inline-block;
    margin: 0.3em 0;
    .icon-styled {
      margin-right: 5px;

    }
  }
}

.page_footer {
  //for hidden social icons
  overflow: hidden;
  .widget_bloginfo {
    img {
			&.ukca-logo {
				padding: 10px;
				margin-left: 0.5rem;
				width: 66px;
			}
    }

    span {
      display: inline-block;
      margin-top: -4px;
    }

		&__logos {
			margin-top: 0;
      margin-bottom: 15px;
      @media (min-width: 768px) and (max-width: 992px)  {
        justify-content: center;
      }
      @media (min-width: 992px) {
        margin-top: -12px;
        margin-bottom: 32px;
        justify-content: inherit;
      }
		}
  }
  .list-bordered {
    li {
      i {
        margin-right: 16px;
      }
      padding-top: 17px;
      padding-bottom: 18px;
    }
  }
  .widget_mailchimp {
    .social-icons {
      a[class*=fa-]:before {
        font-size: 18px;
      }
    }
  }
}

//team hover info for .media-item
.item-hover-content {
  position: relative;
  overflow: hidden;
  .item-media {
    z-index: 2;
  }

  .item-content {
    position: absolute;
    right: 0;
    left: 0;
    box-shadow: $boxShadow;

    h4 {
      line-height: 1;
      letter-spacing: 0.15em;
      margin-bottom: 1.4em;
      span {
        font-weight: 900;
      }
    }
  }
  //overriding default media item content padding on big screens
  &.content-padding .item-content {
    @media (min-width: 1200px) {
      padding: 54px 40px;
    }
  }
  &:hover {
    overflow: visible;
    z-index: 3;
    box-shadow: $boxShadow;
  }
}

.content-show-hover {
  overflow: hidden;
  .item-content {
    top: 0;
    opacity: 0;
    transform: scale(1.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.15s ease-in-out;
    h4 {
      line-height: 1;
      letter-spacing: 0.15em;
      margin-bottom: 1.4em;
      span {
        display: block;
        font-weight: 900;
      }
    }
  }
  &:hover {
    box-shadow: $boxShadow;
    .item-content {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.share_buttons {
  display: flex;
  a {
    display: block;
    width: 100%;
    &:before {
      height: 50px;
      line-height: 50px;
    }
    &.fa {
      margin: 0 1px 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.card-section {
  margin-top: -60px;
  @media (min-width: 768px) {
    margin-top: -150px;
  }
  .card {
    .card-body {
      margin: -70px 30px 35px;
      padding: 38px 20px 35px;
      z-index: 10;
      @media (min-width: 992px) {
        padding: 38px 38px 35px;
      }
      .card-title {
        margin-bottom: 10px;
      }
    }
    .item-media .abs-link {
      opacity: 0.3;
      background-color: $colorMain;
    }
    &:hover {
      .item-media .abs-link {
        opacity: 0;
      }
    }
  }
  [class*="-item"]:not(.align-items-center):hover .media-links:before {
    opacity: 0;
  }
}

.call-to-action {
  background-image: url("../../themes/jlb-steels/img/parallax/call-to-action-bg.jpg");
}

.achieve-bg {
  background-image: url("../../themes/jlb-steels/img/parallax/achieve-bg.jpg");
  &.s-overlay.ds.ms:before {
    opacity: 0.8;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .quote-section {
    .pl-lg-30 {
      padding-left: 30px !important;
    }
  }
}


.maps {
  iframe {
    width: 100%;
    margin-bottom: -7px;
  }
}