/*
** Buttons
 */
.btn {
  font-size: 16px;
  letter-spacing: 0;
  border-width: 1px;
  text-transform: none;
  padding: 12px 25px;
  border-radius: 0;
  font-weight: 300;
  &.btn-big {
    padding:  17px 25px;
  }
   &.btn-small {
    padding: 7px 25px;
  } 
  //for icons
  &.round,
  &.rounded {
    padding: 23px;
    line-height: 1;
  }
  + span {
    margin: 0 21px 0 25px; 
  }
  &.btn-wide {
    min-width: 170px;
  }
}

.btn:hover {
  cursor: pointer;
}

.btn.focus,
.btn:focus {
  box-shadow: 0 0 3px 0 rgba(100, 100, 100, .75) !important;
}

.btn-secondary {
  border-color: $borderColor;
  color: $darkColor;
}

/*color background buttons*/
.btn-maincolor {
  color: $lightColor;
  background-color: $colorMain;
  border-color: $colorMain;
  &:hover {
    color: $lightColor;
    background-color: $darkColor;
    border-color: $darkColor;
  }
}

.btn-dark {
  color: $lightColor;
  background-color: $darkColor;
  border-color: $darkColor;
  &:hover {
    color: $darkColor;
    background-color: $colorMain;
    border-color: $colorMain;
  }
}

.btn-grey {
  color: $fontColor;
  background-color: $greyColor;
  border-color: $greyColor;
  &:hover {
    color: $fontColor;
    background-color: transparent;
  }
}

/*color outline buttons*/
.btn-outline-maincolor,
.btn-outline-dark {
  background-color: transparent;
  &:hover {
    color: $darkColor;
    background-color: transparent;
  }
}


.btn-outline-maincolor {
  border-color: $colorMain;
  &:hover {
    border-color: $darkColor;
  }
}

.btn-outline-dark {
  border-color: $darkColor;
  &:hover {
    background-color: transparent;
    border-color: $colorMain;
  }
}

.btn-outline-grey {
  border-color: $greyColor;
  &:hover {
    color: $fontColor;
    background-color: $greyColor;
  }
}

//dark section buttons
.ds {

  .btn-maincolor,
  .btn-dark {
    color: $darkColor;
  }
  .btn-maincolor {
    &:hover {
      background-color: $lightColor;
      border-color: $lightColor;
    }
  }
  .btn-dark {
    border-color: $lightColor;
    background-color: $lightColor;
    &:hover {
      background-color: $colorMain;
      border-color: $colorMain;
    }
  }

  .btn-outline-maincolor,
  .btn-outline-dark {
    color: $lightColor;
  }
  .btn-outline-maincolor {
    &:hover {
      border-color: $lightColor;
    }
  }
  .btn-outline-dark {
    border-color: $lightColor;
    &:hover {
      border-color: $colorMain;
    }
  }

}
//color section buttons
.cs {
  .btn-maincolor {
    background-color: $lightColor;
    border-color: $lightColor;
    &:hover {
      color: $lightColor;
      background-color: $darkColor;
      border-color: $darkColor;
    }
  }
  .btn-dark {
    &:hover {
      background-color: $lightColor;
      border-color: $lightColor;
    }
  }

  .btn-outline-maincolor {
    color: $darkColor;
    border-color: $lightColor;
    &:hover {
      border-color: $darkColor;
    }
  }
  .btn-outline-dark {
    &:hover {
      border-color: $lightColor;
    }
  }
  .btn-warning {
    background-color: $lightColor;
    border-color: $lightColor;
    &:hover {
      background-color: transparent;
    }
  }
  .btn-outline-warning {
    color: $darkColor;
    border-color: $lightColor;
    &:hover {
      background-color: $lightColor;
    }
  }
}



.shortcode-buttons {
  .btn {
    margin-right: 15px;
    @media (max-width: 1199px) {
      margin-bottom: 18px;
    }
  }
}