/*
** Steps
*/

.steps {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .step {
    @media (min-width: 768px) {
      width: 31.7%;
    }
    .step-image {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: 768px) {
        height: 200px;
      }
      img {
        max-width: 140px;
        border-radius: 50%;
      }
    }
    h4 {
      margin-top: 28px;
    }
    @media (min-width: 1200px) {
    + .step .step-image:after {
      content: '';
      -webkit-mask: url(../img/step_arrow_1.png);
      background-color: $fontColor;
      position: absolute;
      width: 156px;
      height: 26px;
      display: inline-block;
      left: -28%;
      top: 38%;
      }
    }
    &:nth-child(2) .step-image img {
      max-width: 170px;
    }
    &:nth-child(3) .step-image {
      img {
        max-width: 200px;
      }
      &:after {
        -webkit-mask: url(../img/step_arrow_2.png);
       background-color: $fontColor;
        left: -28%;
        top: 50%;
      }
    }
  }
  @media (max-width: 767px) {
    .step + .step {
      margin-top: 46px;
    }
  }
}

.steps2 {
  z-index: 10;
  margin-top: -30px;
  @media (min-width: 768px) {
    margin-top: -60px;
  }
  @media (min-width: 992px) {
    margin-top: -130px;
    .container {
      background-image: url(../img/background-texture.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  @media (max-width: 767px) {
   &.container-px-80 [class*='container'] {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  .step {
    p.step-title {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.44em;
      margin-bottom: 15px;
      &:before {
        top: -33px;

      }
      @media (min-width: 768px) {
        &:before {
          left: -33px;
        }
        &:hover:before {
            left: -50px;
        }
      }
      &:after {
        content: '';
        position: relative;
        width: 100px;
        height: 1px;
        display: block;
        left: -20px;
        margin-top: 17px;
        background-color: $lightColor;
        @media (min-width: 768px) {
          left: -33px;
        }
      }
    }
  }
}

//step count
.item-steps {
  counter-reset: step;
  .step-part {
    position: relative;
    display: inline-block;
    line-height: 1;
    z-index: 1;
    @media (min-width: 768px) {
      &:hover:before {
        opacity: 0.2;
        left: -40px;
      }
    }
    &:before {
      content: "0" counter(step);
      font-family: 'Anton', sans-serif;
      counter-increment: step;
      font-size: 65px;
      color: $lightColor;
      left: -20px;
      position: absolute;
      top: -22px;
      opacity: 0.1;
      z-index: -1;
      letter-spacing: 3px;
      font-weight: 100;
      transition: .5s all;
    }
  }
}

.ls.item-steps,
.ls .item-steps {
  .step-part:before {
    color: $fontColor;
  }
}
